body {
  background: #c49c8f;
  font: 12pt Arial;
}
h1 {
  background-color: rgb(85, 54, 54);
  color: #c49c8f;  
  text-align: center;  
  padding: 10px;
}
p#txtMsg {
  text-align: center;
  position: relative;  
}
input#msg {
  width: 400px;
  height: 80px;
  left: 50%;
  margin: -130px 0 0 -210px;  
  position: absolute;
  top: 40%;
  text-align: center;
}
p#txtChave {
  text-align: center;
  position: static;
  padding-top: 10%;
}
input#chave {
  width: 80px;
  height: 20px;
}
button#btnCifrar {
  font: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(85, 54, 54);
  color: #c49c8f;
  box-shadow: 0 3px 0 black;  
}
button#btnDecifrar {
  font: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(85, 54, 54);
  color: #c49c8f;
  box-shadow: 0 3px 0 black;   
}
p#resultado {
  text-align: center;
  padding-top: 3%;    
  background: white;
  width: 400px;
  height: 50px;
  left: 50%;
  margin: -130px 0 0 -210px;  
  position: absolute;
  top: 80%;  
  font: 12px Arial;    
}
#cifrar, #decifrar {
  text-align: center;
  position: relative;
  left: 41%; 
  display: inline-block;
  padding: 10px;
}
footer {
  background-color: rgb(85, 54, 54);   
  text-align: center;  
  padding: 30px;
  position: relative;
  margin-top: 15%;
}


